* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/interface.15.pg);
    background-repeat: no-repeat;
    font-family: 'Yantramanav', sans-serif;
    opacity: 0.8;

    .header {
        margin: 13px 0 0 15px;
        font-size: 7em;
        letter-spacing: -0.03em;
        line-height: 0.85em;
        width: 653px;
    }

    .subTitle {
        display: flex;
        flex-direction: row;
        margin: 25px 0 0 25px;
        letter-spacing: 0.08em;

        p {
            padding-left: 25px;
            letter-spacing: 0.005em;
        }
    }

    .btn {
        margin: 29px 0 0 27px;

        button {
            background-color: white;
            border-radius: 25px;
            height: 42px;
            width: 150px;

            img {
                width: 17px;
                padding-right: 8px;
            }
        }
    }
}